<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</h2>
    </body>
</html>